<div class="vh-100">
  <div class="h-100 d-flex flex-column">
    <!-- <div class="container">
      <form
        class="mt-3"
        [formGroup]="usernameForm"
        (ngSubmit)="onSetUsername()"
      >
        <input
          class="form-control mb-3"
          formControlName="username"
          type="text"
        />
        <button class="btn-primary btn mb-3" type="submit">Set Username</button>
      </form>
    </div> -->
    <div class="row flex-grow-1 mx-0">
      <div class="col-2 px-0 border-x">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-10 d-flex flex-column px-0">
        <div class="flex-fill ms-3 mt-3">
          @for (history of history$ | async; track $index) {
          <app-message
            [username]="history.username"
            [message]="history.message"
          ></app-message>
          }
        </div>
        <app-message-box></app-message-box>
      </div>
    </div>
  </div>
</div>
