<ul class="list-unstyled ps-0">
  <li class="mb-1">
    <button
      class="btn btn-toggle align-items-center rounded fs-5"
      data-bs-toggle="collapse"
      [attr.data-bs-target]="'#' + group._id"
      aria-expanded="true"
    >
      {{ group.name }}
    </button>
    <div class="collapse show" [attr.id]="group._id">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        @for (room of group.rooms; track room._id) {
        <app-chatroom [room]="room" [group]="group"></app-chatroom>
        }
      </ul>
    </div>
  </li>
</ul>
