<div class="d-flex flex-column px-0 h-100">
  @if (room$ | async) { @if((history$ | async)!.length > 0) {
  <div class="flex-fill ms-3 mt-3 d-flex flex-column">
    @for (history of history$ | async; track $index) {
    @if(isLoggedInUser(history) | async) {
    <div>
      <app-message [history]="history"></app-message>
    </div>
    } @else {
    <div class="align-self-end me-3">
      <app-message
        [history]="history"
        [currentUser]="loggedInUser$ | async"
      ></app-message>
    </div>
    } }
  </div>
  } @else {
  <div
    class="flex-fill ms-3 mt-3 d-flex justify-content-center align-items-center"
  >
    <h4>Start the conversation by sending a message!</h4>
  </div>
  }
  <app-message-box></app-message-box>
  } @else {
  <div
    class="flex-fill bg-secondary d-flex justify-content-center align-items-center"
  >
    <h2 class="justify-content">Please select a chatroom</h2>
  </div>
  }
</div>
