<div class="d-flex flex-column px-0 h-100">
  @if (room$ | async) { @if((history$ | async)!.length > 0) {
  <div class="flex-fill ms-3 mt-3">
    @for (history of history$ | async; track $index) {
    <app-message
      [username]="history.user.username"
      [message]="history.message"
    ></app-message>
    }
  </div>
  } @else {
  <div
    class="flex-fill ms-3 mt-3 d-flex justify-content-center align-items-center"
  >
    <h4>Start the conversation by sending a message!</h4>
  </div>
  }
  <app-message-box></app-message-box>
  } @else {
  <div
    class="flex-fill bg-secondary d-flex justify-content-center align-items-center"
  >
    <h2 class="justify-content">Please select a chatroom</h2>
  </div>
  }
</div>
