a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
a:hover,
a:focus {
  background-color: #27d59b;
}

a.active {
  background-color: #27d59b;
  color: RGBA(26, 30, 33, var(--bs-link-opacity, 1));
}
